<h1>Listing questions</h1>

<% @questions.each do |question| %>
  <% if question.id.present? %>
    <div id="<%= question.id%>">
      <%= question.description %>
      | <%= link_to 'Edit', edit_exam_question_path(question.exam, question) %>
      | <%= link_to 'Delete', [question.exam, question], :confirm => 'Are you sure?', :method => :delete, :remote => true %>

      <%= render question.answers %>
      <%= link_to 'Add Answer', new_exam_question_answer_path(question.exam, question) %>
    </div>
  <% end %>
<br><br>
<% end %>

<br><br>
<b>Add Question</b>
<%= render "questions/form" %>
